<template>
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center">
            <h1 class="error-number">
              500
            </h1>
            <h2>Internal Server Error</h2>
            <p>
              We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing. <NuxtLink to="/report">
                Report this?
              </NuxtLink>
            </p>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'InternalServerError'
}
</script>

