<template>
  <div >
    <div class="row">
    <b-card  class="col-md-6">
      <line-chart v-b-hover :data="lineChartData" :options="options" />
    </b-card>
    <b-card class="col-lg-6" >
      <bar-chart :data="BarChartData" :options="options" />
    </b-card>
    </div>
    <br>
  </div>
</template>

<script>

export default {
  name: 'Index',
  layout () {
    return 'admin'
  },
  data: () => ({
    lineChartData: {
      labels: [1, 2, 3, 4, 5, 6],
      datasets: [
        {
          label: 'Data One',
          data: [40, 20, 55, 32, 5.3, 60]
        }
      ]
    },
    BarChartData: {
      labels: ['January', 'February', 'Mars', 'April'],
      datasets: [
        {
          label: 'Months',
          backgroundColor: ['#f87979', '#082962', '#832e2e', '#159d0b'],
          data: [40, 20, 60, 10]
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      hover: true,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  })
}
</script>

<style scoped>

</style>
