<template>
  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <NuxtLink to="/" class="site_title">
          <i class="fa fa-paw" />
          <span>
            Gentelella Alela!
          </span>
        </NuxtLink>
      </div>

      <div class="profile">
        <!--img_2 -->
        <div class="profile_pic">
          <img src="images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>John Doe</h2>
        </div>
      </div>

      <br>
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <list-item
              v-for="item in items"
              :key="item.id"
              :title="item.title"
              :icon="item.icon"
              :is-selected="item.id===selected"
              :children="item.children"
              @click.native="selectedItem(item.id)"
            />
          </ul>
        </div>
        <div class="menu_section">
          <h3>Live On</h3>
          <ul class="nav side-menu">
            <li>
              <a><i class="fa fa-bug" /> Additional Pages <span class="fa fa-chevron-down" /></a>
              <ul class="nav child_menu">
                <li><a href="e_commerce.html">E-commerce</a></li>
                <li><a href="e_commerce_backend.html">E-commerce Backend</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="project_detail.html">Project Detail</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="real_estate.html">Real Estate</a></li>
              </ul>
            </li>
            <li>
              <a><i class="fa fa-windows" /> Extras <span class="fa fa-chevron-down" /></a>
              <ul class="nav child_menu">
                <li><a href="page_404.html">404 Error</a></li>
                <li><a href="page_500.html">500 Error</a></li>
                <li><a href="coming_soon.html">Coming Soon</a></li>
                <li><a href="plain_page.html">Plain Page</a></li>
                <li><a href="login.html">Login Page</a></li>
                <li><a href="sign_up.html">SignUp Page</a></li>
                <li><a href="pricing_tables.html">Pricing Tables</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-laptop" /> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
          </ul>
        </div>
      </div>

      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true" />
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" />
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true" />
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import ListItem from '@/components/sidemenu/ListItem'
export default {
  name: 'Sidebar',
  components: { ListItem },
  data () {
    return {
      items: [
        {
          id: 1,
          title: 'Home',
          icon: 'fa fa-home',
          children: [
            {
              id: 1,
              title: 'Dashboard',
              path: '/'
            },
            {
              id: 2,
              title: 'Dashboard2',
              path: '/dashboard2'
            },
            {
              id: 4,
              title: 'Hello World',
              path: '/index3'
            }
          ]
        },
        {
          id: 2,
          title: 'Forms',
          icon: 'fa fa-edit'
        },
        {
          id: 3,
          title: 'Tables vue',
          icon: 'fa fa-table'
        },
        {
          id: 4,
          title: 'UI Elements',
          icon: 'fa fa-desktop'
        },
        {
          id: 5,
          title: 'Charts',
          icon: 'fa fa-bar-chart-o',
          children: [
            {
              id: 1,
              title: 'Vue-charts',
              path: '/charts'
            }
          ]
        }
      ],
      selected: ''
    }
  },
  methods: {
    selectedItem (key) {
      this.selected = key
    }
  }
}
</script>

<style scoped>
.side-menu-correct{
  padding-left: 10px;
  padding-top: 30px;
}
</style>
